<div>
    <!--Invoice All button-->
    <p><a class="btn btn-primary btn-lg" ng-click="arLeaseCtl.invoiceAll()" role="button">Invoice All</a></p>
</div>
<!--TODO: how to report on invoices...-->
<div>
    <!-- table of invoices -->
    <table style="width:100%">
        <h2>Invoices</h2>
        <tr>
            <th>Name</th>
            <th>Lease</th>
            <th>Amount</th>
            <th>Due</th>
        </tr>
        <tr ng-repeat="lease in arInvoiceCtrl.invoices() | orderBy:'name'">
            <td>{{ invoice.name }}</td>
            <td>{{ invoice.lease }}</td>            
            <td>{{ lease.amount | currency }}</td>
            <td>{{ lease.due | date }}</td>
        </tr>
    </table>

</div>