<div>

    <!-- table of unit types -->
    <table style="width:100%">
        <h2>Unit Types</h2>
        <tr class="well2">
            <th>Size</th>
            <th>Description</th>
            <th>Rate</th>
            <th>Quantity</th>
        </tr>
        <tr ng-repeat="unitType in arUnitCtl.unitFactory.unitTypes | orderBy:'size'"">
            <td>{{ unitType.size }}</td>
            <td>{{ unitType.description }}</td>
            <td>{{ unitType.defaultRate  | currency}}/{{ unitType.defaultPeriod }}</td>
            <td>{{ unitType.statusCount['Available'] }} / {{ unitType.count }}</td>
        </tr>
    </table>

    <!-- table of unit types -->
    <table style="width:100%">
        <h2>Units</h2>
        <tr>
            <th>Unit</th>
            <th>Size</th>
            <th>Status</th>
        </tr>
        <tr ng-repeat="unit in arUnitCtl.unitFactory.units | orderBy:'name'" >
            <td>{{ unit.name }}</td>
            <td>{{ unit.unitType.size }}</td>
            <td>{{ unit.status }}</td>
        </tr>
    </table>

    <!-- form for creation of a new unit type -->
    <h2>Add Unit Type</h2>
    <form ng-submit="arUnitCtl.addUnitType()">
        <input placeholder="Name " type="text" ng-model="arUnitCtl.newUnitType.name" />
        <input placeholder="Size " type="text" ng-model="arUnitCtl.newUnitType.size" />
        <input placeholder="Description" type="text" ng-model="arUnitCtl.newUnitType.description" />
        <input placeholder="Default Rate" type="number" ng-model="arUnitCtl.newUnitType.defaultRate" />
        <input placeholder="Default Deposit" type="number" ng-model="arUnitCtl.newUnitType.defaultDeposit" />
        <input placeholder="Default Period" type="text" ng-model="arUnitCtl.newUnitType.defaultPeriod" />
        <input placeholder="Default Num Periods" type="number" ng-model="arUnitCtl.newUnitTYpe.defaultNumPeriods" />
        <button type="submit">Add Unit Type</button>
    </form>   

    <!-- form for creation of a new unit -->
    <h2>Add Unit</h2>
    <form ng-submit="arUnitCtl.addUnit()">
        <select 
            ng-model="arUnitCtl.newUnit.unitType"
            ng-options="unitType._id as unitType.size for unitType in arUnitCtl.unitFactory.unitTypes">
            <option value="" required>Select Unit Type</option> <!--  disabled selected hidden? -->
        </select>
        <!-- after unitType is selected, populate form with default rate, deposit, period, numPeriods -->
        <button type="submit">Add Unit</button>
    </form> 

</div>